html {
  background-color: #06090f;
}

a {
  text-decoration: None;
}

#gallery_container {
  display: grid;
  max-width: 80vw;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}

.gallery_list {
  position: relative;
  width: 100%;
  color: #ffffff;
}

.gallery_list a {
  display: block;
  font-size: 0;
}

.preview {
  width: 100%;
  height: auto;
}

.preview:hover{
  opacity: .3;

}

.piece_title {
  position: absolute;
  bottom: 3%;
  left: 6%;
  z-index:-1;
  font-size: 30px;
}

.piece_info{
  font-size: 20px;
  padding-left: 3%;
  padding-right: 6%;
}

#page_title{
  text-align: center;
}


#title {
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: -10px;
}

#sub_title{
  font-family: "Lucida Handwriting", cursive;
  text-align: center;
  font-size: 20px;
  color: #aaa;

}

#find_more{
  color: #abc;
}


#general_infos{
  background-color:#151526;
  color: #ffcfbf;
  font-size: 24px;
  text-align: center;
}


#social_media {
  background-color: #0d1526;
  text-align: center;
}


.social_logo{
  width: 40px;
  height: auto;
}

.social_logo:hover{
  background-color:#2f3748;
}
